body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* Table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Helpers */
.full-width {
  width: 100;
}
.container {
  padding: 5px 15px;
}
.mr-10 {
  margin-right: 10px;
}
.p-20 {
  padding: 20px;
}
.font-size-15 {
  font-size: 15px;
}

.list-reset,
.flex-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex,
.flex-list,
.flex-center,
.flex-center-col,
.flex-sp-between {
  display: flex;
}

.flex-center, .flex-center-col {
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  flex-direction: column;
}

.flex-sp-between {
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

/* Specifics */
.user-currency-form * {
  width: 100%;
}

.user-currency-form button {
  margin-top: 5px;
}

.pagination-wrapper {
  padding: 10px;
}
.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.pagination li {
  padding: 5px 10px;
  border: 1px solid #9b9696;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: #4c4c4c;
  user-select: none;
}
.pagination li:hover {
  border-color: #515151;
}
.pagination li:not(:last-child) {
  margin-right: 1px;
}
.pagination li.active {
  background-color: #e8e8e8;
  color: #000;
}
