@import './styles/variables.scss';
@import './styles/helpers.scss';
@import './styles/globals.scss';

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  tr td {
    padding: 10px 0;
  }

  th, tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.table-min {
  border-collapse: collapse;

  th, td {
    padding: 7px 15px 7px 0;
  }

  thead th {
    border-bottom: 1px solid rgb(197, 197, 197);
  }
}

/* Loader */
.loader-wrapper {

  height: 100%;
  width: 100%;

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid $green;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $green transparent transparent transparent;
    }
    div:nth-child(1) {
      animation-delay: -0.45s;
    }
    div:nth-child(2) {
      animation-delay: -0.3s;
    }
    div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Specifics */
.user-currency-form {
  * {
    width: 100%;
  }
  button {
    margin-top: 5px;
  }
}

.pagination-wrapper {
  padding: 10px;
  .pagination {
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding: 5px 10px;
      border: 1px solid #9b9696;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      color: #4c4c4c;
      user-select: none;
      &:hover {
        border-color: #515151;
      }
      &:not(:last-child) {
        margin-right: 1px;
      }
    }
    
    li.active {
      background-color: #e8e8e8;
      color: #000;
    }
  }
}

.currency-details-header {
  .rank {
    background-color: $green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px
  }
  .short-name {
    font-size: 18px;
    color: #959AAC;
    margin-left: 5px;
  }
}
